app/__pycache__
*.ipynb_checkpoints
notebooks/
.DS_Store
*.pyc
.coverage*
**/htmls/*/*
temp/
**/recommenders/*
!**/recommenders/legacy
reports/
!*.gitkeep
*.coverage*
!**/meta_data.json
ml/predictors/*
data/*
!data/raw_data_1667912638764.csv
!ml/predictors/.gitkeep
dvc_remote/
